Repository macaroni-os/kit-fixups, pull requests merged in 2024-10, with the labels that each got.

#132 [desktop-kit] x11-themes/papirus-icon-theme autogen
  desktop-kit/mark/x11-themes/papirus-icon-theme/autogen.yaml
  desktop-kit/mark/x11-themes/papirus-icon-theme/templates/papirus-icon-theme.tmpl
Labels: desktop-kit

#135 Cleanup `next` KEYWORDS on mark release
  core-server-kit/curated/dev-db/arangodb/autogen.py
  core-server-kit/curated/dev-db/postgresql/generator.py
  desktop-kit/curated/x11-terms/kitty/templates/kitty-shell-integration.tmpl
  desktop-kit/curated/x11-terms/kitty/templates/kitty-terminfo.tmpl
  desktop-kit/curated/x11-terms/kitty/templates/kitty.tmpl
  media-kit/curated/media-gfx/darktable/autogen.yaml
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: mark-testing

#136 [net-kit] net-misc/lksctp-tools autogen
  net-kit/mark/net-misc/lksctp-tools/autogen.yaml
  net-kit/mark/net-misc/lksctp-tools/templates/lksctp-tools.tmpl
  net-kit/mark/packages.yaml
  net-kit/packages.yaml
Labels: net-kit

#139 [security-kit] Drop old sec-policy/* packages
  security-kit/packages.yaml
Labels: security-kit

#140 [python-modules-kit] dev-python/zope-interface review
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit

#142 dev-util/vulkan-tools needs dev-util/volk so we autogen dev-util/volk…
  core-gl-kit/curated/dev-util/volk/autogen.yaml
  core-gl-kit/curated/dev-util/volk/templates/volk.tmpl
  core-gl-kit/curated/media-libs/vulkan/templates/vulkan-tools.tmpl
Labels: core-gl-kit

#147 [net-kit] net-im/mattermost-desktop-bin autogen
  net-kit/mark/net-im/mattermost-desktop-bin/autogen.yaml
  net-kit/mark/net-im/mattermost-desktop-bin/templates/mattermost-desktop-bin.tmpl
  net-kit/mark/packages.yaml
  net-kit/packages.yaml
Labels: net-kit

#146 [core-server-kit] dev-db/mariadb - Bump v10.6.19
  core-server-kit/curated/dev-db/mariadb/Manifest
  core-server-kit/curated/dev-db/mariadb/files/10.6/0001-cmake-build-without-client-libs-and-tools.patch
  core-server-kit/curated/dev-db/mariadb/files/10.6/0004-cmake-don-t-install-mysql-d-.service-symlinks.patch
  core-server-kit/curated/dev-db/mariadb/mariadb-10.6.19.ebuild
Labels: core-server-kit

#145 [core-hw-kit] sys-firmware/ipxe autogen
  core-hw-kit/mark/sys-firmware/ipxe/autogen.yaml
  core-hw-kit/mark/sys-firmware/ipxe/metadata.xml
  core-hw-kit/mark/sys-firmware/ipxe/templates/ipxe.tmpl
  core-kit/curated/app-emulation/qemu/qemu-7.1.0.ebuild
Labels: core-kit, core-hw-kit

#144 [core-kit] sys-boot/linux review
  core-kit/curated/sys-boot/syslinux/files/6.04_pre1/0005-stddef_addwchar_t.patch
  core-kit/curated/sys-boot/syslinux/syslinux-6.04_pre3.ebuild
Labels: core-kit

#143 [core-kit][eclass] distutils-r1: Fix meson-python
  core-kit/curated/eclass/distutils-r1.eclass
Labels: core-kit

#151 [net-kit] mail-mtp/ssmtp review
  net-kit/curated/mail-mta/ssmtp/files/patches/0010_all_maxsysuid.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0020_all_from-format-fix.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0030_all_authpass.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0040_all_darwin7.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0050_all_strndup.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0060_all_opessl_crypto.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0070_all_solaris-basename.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0080_all_gnutls.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0090_all_debian-remote-addr.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0100_all_ldflags.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0110_all_stdint.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0120_all_aliases.patch
  net-kit/curated/mail-mta/ssmtp/files/patches/0130_all_garbage-writes.patch
  net-kit/curated/mail-mta/ssmtp/templates/ssmtp.tmpl
Labels: net-kit

#153 [core-hw-kit] sys-power/iasl added as curated package
  core-hw-kit/curated/sys-power/iasl/Manifest
  core-hw-kit/curated/sys-power/iasl/iasl-20240927.ebuild
  core-hw-kit/mark/packages.yaml
  core-hw-kit/packages.yaml
Labels: core-hw-kit

#154 [core-server-kit] Add app-backup/backrest autogen
  core-server-kit/mark/app-backup/backrest/autogen.yaml
  core-server-kit/mark/app-backup/backrest/files/backrest.confd
  core-server-kit/mark/app-backup/backrest/files/backrest.initd
  core-server-kit/mark/app-backup/backrest/files/backrest.service
  core-server-kit/mark/app-backup/backrest/templates/backrest.tmpl
Labels: core-server-kit

#155 [core-kit] sys-fs/multipath-tools review
  core-kit/curated/sys-fs/multipath-tools/metadata.xml
  core-kit/curated/sys-fs/multipath-tools/templates/multipath-tools.tmpl
  core-kit/mark/packages.yaml.wip
Labels: core-kit

#156 [dev-kit] dev-cpp/pystring review autogen
  dev-kit/curated/dev-cpp/pystring/autogen.py
  dev-kit/curated/dev-cpp/pystring/autogen.yaml
Labels: dev-kit

#158 [feature] [kernel] Autogen kernel ebuilds :D
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-bookworm/eapi
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-bookworm/package.keywords
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-bookworm/package.mask
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-bookworm/package.unmask
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-funtoo/eapi
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-funtoo/package.keywords
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-funtoo/package.mask
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-funtoo/package.unmask
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-sid/eapi
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-sid/package.keywords
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-sid/package.mask
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-sid/package.unmask
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-trixie/eapi
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-trixie/package.keywords
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-trixie/package.mask
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/mix-ins/kernel-trixie/package.unmask
  core-kit/next/sys-kernel/debian-sources/Manifest
  core-kit/next/sys-kernel/debian-sources/autogen.yaml
  core-kit/next/sys-kernel/debian-sources/debian-sources-6.5.10_p1.ebuild
  core-kit/next/sys-kernel/debian-sources/files/6.1-6.7/more-uarches-for-kernel-6.1.79-6.8-rc3.patch
  core-kit/next/sys-kernel/debian-sources/files/6.4.11/linux-rtw89-revert-recent-changes.patch
  core-kit/next/sys-kernel/debian-sources/files/6.4.4/linux-6.4.4-keyboard-not-working-Asus-TUF-FA617NS-FL-11436.patch
  core-kit/next/sys-kernel/debian-sources/files/6.4.4/linux-6.4.4-pinctrl-FL-11437-backport.patch
  core-kit/next/sys-kernel/debian-sources/files/6.8+/more-uarches-for-kernel-6.8-rc4+.patch
  core-kit/next/sys-kernel/debian-sources/files/config-extract-6.1
  core-kit/next/sys-kernel/debian-sources/files/config-extract-6.6
  core-kit/next/sys-kernel/debian-sources/files/latest/fix-bluetooth-polling.patch
  core-kit/next/sys-kernel/debian-sources/files/latest/funtoo_logo.patch
  core-kit/next/sys-kernel/debian-sources/files/latest/ikconfig.patch
  core-kit/next/sys-kernel/debian-sources/files/latest/mcelog.patch
  core-kit/next/sys-kernel/debian-sources/files/latest/nocerts.patch
  core-kit/next/sys-kernel/debian-sources/generator.py
  core-kit/next/sys-kernel/debian-sources/generator.sh
  core-kit/next/sys-kernel/debian-sources/templates/debian-sources.tmpl
Labels: core-kit

#159 [core-kit] app-emulation/incus review autogen
  core-kit/mark/app-emulation/incus/autogen.yaml
  core-kit/mark/app-emulation/incus/files/incus-user.service
  core-kit/mark/app-emulation/incus/generators/incus.py
  core-kit/mark/app-emulation/incus/templates/incus.tmpl
Labels: core-kit

#161 =dev-ruby/json-2.7.4 user change on github flory -> ruby
  ruby-kit/next/dev-ruby/autogen.yaml
Labels: ruby-kit

#160 [core-kit] sys-apps/baselayout and sys apps/lsb-release rebranding
  core-kit/curated/sys-apps/baselayout/baselayout-3.0.ebuild
  core-kit/curated/sys-apps/baselayout/files/baselayout/COPYING
  core-kit/curated/sys-apps/baselayout/files/baselayout/Makefile
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.BSD/COPYRIGHT
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.BSD/issue
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.BSD/issue.logo
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.BSD/login.conf
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.BSD/os-release
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.Linux/filesystems
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.Linux/inputrc
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.Linux/issue
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.Linux/issue.logo
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.Linux/modprobe.d/aliases.conf
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.Linux/modprobe.d/i386.conf
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.Linux/os-release
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc.Linux/sysctl.conf
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc/env.d/50baselayout
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc/networks
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc/profile
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc/protocols
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc/services
  core-kit/curated/sys-apps/baselayout/files/baselayout/etc/shells
  core-kit/curated/sys-apps/baselayout/files/baselayout/share.BSD/fstab
  core-kit/curated/sys-apps/baselayout/files/baselayout/share.BSD/group
  core-kit/curated/sys-apps/baselayout/files/baselayout/share.BSD/master.passwd
  core-kit/curated/sys-apps/baselayout/files/baselayout/share.Linux/fstab
  core-kit/curated/sys-apps/baselayout/files/baselayout/share.Linux/group
  core-kit/curated/sys-apps/baselayout/files/baselayout/share.Linux/issue.devfix
  core-kit/curated/sys-apps/baselayout/files/baselayout/share.Linux/passwd
  core-kit/curated/sys-apps/baselayout/files/baselayout/share.Linux/shadow
  core-kit/curated/sys-apps/lsb-release/Manifest
  core-kit/curated/sys-apps/lsb-release/files/lsb-release-1.4-os-release.patch
  core-kit/curated/sys-apps/lsb-release/lsb-release-1.4-r4.ebuild
  core-kit/mark/packages.yaml
  core-kit/mark/packages.yaml.wip
  core-kit/packages.yaml
Labels: core-kit

#164 [media-kit] media-gfx/qrencode autogen
  media-kit/mark/media-gfx/qrencode/autogen.yaml
  media-kit/mark/media-gfx/qrencode/templates/qrencode.tmpl
  media-kit/mark/packages.yaml
  media-kit/packages.yaml
Labels: media-kit

#163 [core-hw-kit] sys-power/cpupower - review template
  core-hw-kit/curated/sys-power/cpupower/templates/cpupower.tmpl
Labels: core-hw-kit

#168 [dev-kit] Pin `binaryen-bin` to version `119`, for now (`mark-testing` branch)
  dev-kit/curated/sys-devel/binaryen-bin/autogen.yaml
Labels: dev-kit

#169 [dev-kit] Pin `binaryen-bin` to version `119`, for now (`master` branch)
  dev-kit/curated/sys-devel/binaryen-bin/autogen.yaml
Labels: dev-kit

#173 [games-kit] [bugfix] Update `zmusic` and correct `gzdoom` `DEPEND` (`mark-testing`)
  games-kit/curated/autogen.yaml
  games-kit/curated/templates/gzdoom.tmpl
Labels: games-kit

#172 [desktop-kit] app-backup/borgbackup review
  desktop-kit/curated/app-backup/borgbackup/autogen.yaml
Labels: desktop-kit

#171 [games-kit] [bugfix] Update `zmusic` and correct `gzdoom` `DEPEND` (`next`)
  games-kit/curated/autogen.yaml
  games-kit/curated/templates/gzdoom.tmpl
Labels: games-kit

#176 [desktop-kit] [bugfix] Remove failing patches from `app-crypt/xca` (`next`)
  desktop-kit/curated/app-crypt/xca/files/xca-1.0.0-desktop.patch
  desktop-kit/curated/app-crypt/xca/files/xca-2.4.0-man-page.patch
  desktop-kit/curated/app-crypt/xca/templates/xca.tmpl
Labels: emerge bug, desktop-kit

#175 [desktop-kit] [bugfix] Remove failing patches from `app-crypt/xca` ('mark-testing')
  desktop-kit/curated/app-crypt/xca/files/xca-1.0.0-desktop.patch
  desktop-kit/curated/app-crypt/xca/files/xca-2.4.0-man-page.patch
  desktop-kit/curated/app-crypt/xca/templates/xca.tmpl
Labels: emerge bug, desktop-kit

#170 [python-modules-kit] dev-python/llfuse dropped
  python-modules-kit/mark/dev-python/autogen.yaml
  python-modules-kit/packages.yaml
Labels: python-modules-kit

#167 [core-kit] [feature] Add `intel64-tremont` subarch (`mark-testing`)
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/arch/x86-64bit/subarch/intel64-tremont/make.defaults
Labels: enhancement, core-kit

#174 [core-kit] [feature] Add `intel64-tremont` subarch (`next`)
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/arch/x86-64bit/subarch/intel64-tremont/make.defaults
Labels: enhancement, core-kit

#165 [desktop-kit] sys-boot/etcher-bin template review
  desktop-kit/mark/sys-boot/etcher-bin/autogen.py
  desktop-kit/mark/sys-boot/etcher-bin/files/etcher.desktop
  desktop-kit/mark/sys-boot/etcher-bin/templates/etcher-bin.tmpl
Labels: desktop-kit

#177 =sys-apps/usbutils-018
  core-kit/curated/sys-apps/usbutils/autogen.py
  core-kit/curated/sys-apps/usbutils/autogen.yaml
  core-kit/curated/sys-apps/usbutils/templates/usbutils.tmpl
Labels: core-kit

#178 [python-modules-kit] dev-python/motor fix DEPEND
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit

#181 =mail-client/thunderbird-132.0
  net-kit/next/mail-client/thunderbird/Manifest
  net-kit/next/mail-client/thunderbird/thunderbird-132.0.ebuild
Labels: net-kit

#180 =www-client/firefox-132.0
  browser-kit/curated/www-client/firefox/autogen.yaml
  browser-kit/curated/www-client/firefox/templates/firefox.tmpl
Labels: browser-kit
