Repository macaroni-os/kit-fixups, pull requests merged in 2024-09, with the labels that each got.

#107 =app-emulation/virtualbox-bin-7.1.0 breaks tree autogen
  core-kit/curated/app-emulation/virtualbox-bin/autogen.py
Labels: bug, regen bug

#119 [core-kit] app-emulation/virtualbox-guest-additions - fix
  core-kit/curated/app-emulation/virtualbox-guest-additions/files/patches/009-virtualbox-5.1.0-add_missing_gl_header.patch
  core-kit/curated/app-emulation/virtualbox-guest-additions/files/patches/012_virtualbox-6.1.0-include_opengl_headers.patch
  core-kit/curated/app-emulation/virtualbox-guest-additions/files/patches/014_virtualbox-6.0.14-Glsizeiptr.patch
Labels: core-kit

#125 [core-kit] Restore `gitlab-1` generators
  generators/gitlab-1.py
Labels: core-kit

#124 [core-gl-kit] x11-base/xorg-server/xwayland autogen
  core-gl-kit/mark/x11-base/autogen.yaml
  core-gl-kit/mark/x11-base/templates/xorg-server.tmpl
  core-gl-kit/mark/x11-base/templates/xwayland.tmpl
  core-gl-kit/mark/x11-base/xorg-server/Manifest
  core-gl-kit/mark/x11-base/xorg-server/files/xorg-server-dri2-crash.patch
  core-gl-kit/mark/x11-base/xorg-server/xorg-server-1.20.10-r5.ebuild
  core-gl-kit/mark/x11-base/xorg-server/xorg-server-1.20.10-r6.ebuild
  core-gl-kit/mark/x11-base/xwayland/Manifest
Labels: core-gl-kit
