Repository macaroni-os/kit-fixups, pull requests merged in 2024-08, with the labels that each got.

#45 [HOTFIX] [kernel] Genkernel: Use a subdir of $WORKDIR for genkernel cache.
  core-kit/next/sys-kernel/debian-sources/debian-sources-6.9.10_p1.ebuild
Labels: bug

#83 [net-misc] net-misc/dropbox - drop x86 support
  net-kit/curated/net-misc/dropbox/autogen.py
  net-kit/curated/net-misc/dropbox/templates/dropbox.tmpl
Labels: bug, regen bug, net-kit

#84 [core-server-kit] dev-php/pecl-mongodb pin v1.16.2
  core-server-kit/curated/autogen.yaml
Labels: core-server-kit

#89 Updated sip autogen
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: enhancement, python-modules-kit, mark-testing
