Repository macaroni-os/kit-fixups, pull requests merged in 2024-11, with the labels that each got.

#184 [core-kit] sys-apps/baselayout fix EAPI 7 integration
  core-kit/curated/sys-apps/baselayout/baselayout-3.0.ebuild
Labels: core-kit

#183 nvidia-drivers security updates October 2024
  core-gl-kit/curated/x11-drivers/nvidia-drivers/Manifest
  core-gl-kit/curated/x11-drivers/nvidia-drivers/nvidia-drivers-535.216.01.ebuild
  core-gl-kit/curated/x11-drivers/nvidia-drivers/nvidia-drivers-550.127.05.ebuild
  core-gl-kit/curated/x11-drivers/nvidia-drivers/nvidia-drivers-565.57.01.ebuild
  core-gl-kit/curated/x11-drivers/nvidia-kernel-modules/nvidia-kernel-modules-535.216.01.ebuild
  core-gl-kit/curated/x11-drivers/nvidia-kernel-modules/nvidia-kernel-modules-550.127.05.ebuild
  core-gl-kit/curated/x11-drivers/nvidia-kernel-modules/nvidia-kernel-modules-565.57.01.ebuild
Labels: core-gl-kit

#185 Update rust-bin.tmpl
  lang-kit/curated/dev-lang/rust-bin/templates/rust-bin.tmpl
Labels: lang-kit

#187 [python-modules-kit] dev-python/numpy add +lapack
  python-modules-kit/curated/dev-python/templates/numpy.tmpl
Labels: python-modules-kit

#188 [core-kit] app-admin/ego add postinst message
  core-kit/curated/app-admin/ego/Manifest
  core-kit/curated/app-admin/ego/ego-2.8.8_pre20240817.ebuild
  core-kit/curated/app-admin/ego/templates/ego.tmpl
Labels: core-kit

#189 [core-kit] app-emulation/libvirt template review
  core-kit/curated/app-emulation/libvirt/templates/libvirt.tmpl
Labels: core-kit

#186 [core-kit] [bugfix] Fix genkernel compatibility with updated linux-headers
  core-kit/curated/sys-kernel/genkernel/autogen.yaml
  core-kit/curated/sys-kernel/genkernel/files/share/patches/busybox/1.37.0/busybox-1.36.1-no-cbq.patch
  core-kit/curated/sys-kernel/genkernel/templates/genkernel.tmpl
Labels: bug, emerge bug, mark-testing, core-kit

#191 [net-kit] net-p2p/qbittorrent pinned v4.6.7
  net-kit/curated/net-p2p/qbittorrent/autogen.yaml
Labels: net-kit

#192 [desktop-kit] [bugfix] Update `passwordsafe` autogen.py: `name` -> `body`
  desktop-kit/curated/app-admin/passwordsafe/autogen.py
Labels: bug, regen bug, desktop-kit

#194 [net-kit] net-misc/lksctp-tools fix post_src_unpack
  net-kit/mark/net-misc/lksctp-tools/templates/lksctp-tools.tmpl
Labels: net-kit

#193 net-analyzer/mtr autogened
  net-kit/next/net-analyzer/mtr/autogen.yaml
  net-kit/next/net-analyzer/mtr/templates/mtr.tmpl
  net-kit/next/packages.yaml
  net-kit/packages.yaml
Labels: enhancement, net-kit

#195 =dev-python/packaging-24.2 with new module 'packaging.licenses'
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit

#196 [python-modules-kit] dev-python/async_timeout review template
  python-modules-kit/curated/dev-python/templates/async_timeout.tmpl
Labels: python-modules-kit

#198 [python-modules-kit] dev-python/license-expression autogen review
  core-kit/curated/eclass/distutils-r1.eclass
  python-modules-kit/curated/dev-python/autogen.yaml
  python-modules-kit/mark/dev-python/autogen.yaml
Labels: python-modules-kit, eclass

#201 [python-modules-kit] dev-python/pyrfc3339 - fix pypiname
  python-modules-kit/mark/dev-python/autogen.yaml
  python-modules-kit/packages.yaml
Labels: python-modules-kit

#202 [dev-kit] dev-libs/libmcrypt added in curated
  dev-kit/curated/dev-libs/libmcrypt/Manifest
  dev-kit/curated/dev-libs/libmcrypt/files/libmcrypt-2.5.8-autoconf-2.70.patch
  dev-kit/curated/dev-libs/libmcrypt/files/libmcrypt-2.5.8-c99-2.patch
  dev-kit/curated/dev-libs/libmcrypt/files/libmcrypt-2.5.8-c99.patch
  dev-kit/curated/dev-libs/libmcrypt/files/libmcrypt-2.5.8-prototypes.patch
  dev-kit/curated/dev-libs/libmcrypt/files/libmcrypt-2.5.8-rotate-mask.patch
  dev-kit/curated/dev-libs/libmcrypt/files/libmcrypt-2.5.8-uninitialized.patch
  dev-kit/curated/dev-libs/libmcrypt/libmcrypt-2.5.8-r5.ebuild
  dev-kit/mark/packages.yaml
  dev-kit/packages.yaml
Labels: dev-kit

#203 =net-analyzer/nmap-7.95
  net-kit/curated/net-analyzer/nmap/Manifest
  net-kit/curated/net-analyzer/nmap/files/nmap-5.21-python.patch
  net-kit/curated/net-analyzer/nmap/files/nmap-6.46-uninstaller.patch
  net-kit/curated/net-analyzer/nmap/files/nmap-7.25-libpcre.patch
  net-kit/curated/net-analyzer/nmap/files/nmap-7.91-ncat-proxy.patch
  net-kit/curated/net-analyzer/nmap/nmap-7.95.ebuild
Labels: net-kit

#206 [python-modules-kit] Add dev-python/packaging-legacy
  python-modules-kit/mark/dev-python/autogen.yaml
Labels: python-modules-kit

#209 Review `gnu-1` generator to support packaging-24
  generators/gnu-1.py
Labels: kit-fixups

#208 [core-kit] Bump sys-apps/metatools-1.3.8_p20241117
  core-kit/mark/sys-apps/metatools/autogen.yaml
  core-kit/mark/sys-apps/metatools/templates/metatools.tmpl
Labels: core-kit

#210 Migrate packaging.version to metatools.version.generic
  browser-kit/curated/www-client/links/autogen.py
  browser-kit/curated/www-client/lynx/autogen.py
  browser-kit/curated/www-client/netsurf/generator.py
  browser-kit/mark/www-client/lynx/autogen.py
  core-gl-kit/curated/app-misc/wayland-utils/generator.py
  core-kit/curated/app-arch/bzip2/autogen.py
  core-kit/curated/app-arch/rpm/autogen.py
  core-kit/curated/app-crypt/adcli/generator.py
  core-kit/curated/app-misc/mc/autogen.py.borked
  core-kit/curated/dev-libs/gmp/autogen.py
  core-kit/curated/net-wireless/bluez/autogen.py
  core-kit/curated/net-wireless/bluez/generator.py
  core-kit/curated/sys-apps/man-db/autogen.py
  core-kit/curated/sys-libs/libstatgrab/autogen.py
  core-kit/curated/sys-process/procps/generator.py
  core-kit/mark/app-shells/bash/autogen.py
  core-kit/mark/dev-libs/json-c/generator.py
  core-kit/mark/sys-auth/fprintd/generator.py
  core-kit/mark/sys-auth/libfprint/generator.py
  core-kit/mark/sys-fs/cryptsetup/generator.py
  core-server-kit/curated/dev-db/postgresql/generator.py
  core-server-kit/curated/dev-db/sqlite/autogen.py
  core-server-kit/curated/www-apps/elastic/autogen.yaml
  core-server-kit/curated/www-apps/elastic/generator.py
  dev-kit/curated/dev-embedded/arduino-bin/autogen.py
  dev-kit/curated/dev-libs/botan/generator.py
  dev-kit/curated/dev-libs/gf2x/generator.py
  dev-kit/curated/dev-util/dialog/autogen.py
  dev-kit/curated/dev-util/generators/lttng.py
  dev-kit/mark/dev-libs/cdk/autogen.py
  editors-kit/curated/app-editors/emacs/autogen.py
  editors-kit/curated/app-editors/nvi/autogen.py
  media-kit/curated/media-gfx/inkscape/generators/inkscape.py
  media-kit/curated/media-gfx/meshlab/autogen.py
  media-kit/curated/media-libs/libplacebo/autogen.py
  net-kit/curated/net-misc/hylafaxplus/autogen.py
  net-kit/curated/net-misc/openvswitch/autogen.py
  net-kit/curated/www-apps/nextcloud/autogen.py
  net-kit/mark/net-misc/networkmanager/generator.py
  net-kit/mark/net-p2p/ncdc/autogen.py
  science-kit/curated/sci-geosciences/googleearth/autogen.py
  science-kit/curated/sci-mathematics/cgal/autogen.py
  security-kit/curated/app-crypt/onepassword-bin/autogen.py
Labels: kit-fixups

#211 [core-kit] sys-apps/metatools: Bump v1.3.8_p20241118
  core-kit/mark/sys-apps/metatools/autogen.yaml
Labels: core-kit

#214 [python-modules-kit] dev-python/python-xlib review backend
  python-modules-kit/mark/dev-python/autogen.yaml
  python-modules-kit/packages.yaml
Labels: python-modules-kit

#221 [core-hw-kit] sys-apps/fwupd review template
  core-hw-kit/curated/sys-apps/fwupd/templates/fwupd.tmpl
Labels: core-hw-kit
