Repository macaroni-os/kit-fixups, pull requests merged in 2024-12, with the labels that each got.

#224 [core-kit] sys-block/thin-provisioning-tools review template
  core-kit/curated/sys-block/thin-provisioning-tools/templates/thin-provisioning-tools.tmpl
Labels: core-kit

#225 Move KEYWORDS="next" to KEYWORDS="*"
  core-gl-kit/next/dev-util/intel_clc/intel_clc-24.2.4.ebuild
  media-kit/curated/media-gfx/inkscape/templates/inkscape.tmpl
Labels: core-gl-kit, media-kit

#231 net-misc/bird Replace Python autogen script with YAML configuration
  net-kit/curated/net-misc/bird/autogen.py
  net-kit/curated/net-misc/bird/autogen.yaml
  net-kit/curated/net-misc/bird/templates/bird.tmpl
Labels: net-kit

#233 [dev-kit] Ssh-compose autogen and minor fix for lxd-compose
  dev-kit/mark/app-emulation/lxd-compose/templates/lxd-compose.tmpl
  dev-kit/mark/dev-util/ssh-compose/autogen.yaml
  dev-kit/mark/dev-util/ssh-compose/templates/ssh-compose.tmpl
Labels: dev-kit

#237 Fix incorrect documentation path in libjpeg-turbo template
  media-kit/curated/media-libs/templates/libjpeg-turbo.tmpl
Labels: media-kit

#239 dev-python/py Add du_pep517 to py dependencies in autogen.yaml
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit

#240 [python-kit] Drop py2.7
  python-kit/curated/dev-lang/python/autogen.py
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0001-bpo-39017-Avoid-infinite-loop-in-the-tarfile-module-.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0002-bpo-39503-CVE-2020-8492-Fix-AbstractBasicAuthHandler.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0003-bpo-39603-Prevent-header-injection-in-http-methods-G.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0004-bpo-42051-Reject-XML-entity-declarations-in-plist-fi.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0005-bpo-41944-No-longer-call-eval-on-content-received-vi.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0006-bpo-40791-Make-compare_digest-more-constant-time.-GH.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0007-3.6-closes-bpo-42938-Replace-snprintf-with-Python-un.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0008-3.6-bpo-42967-only-use-as-a-query-string-separator-G.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0009-py2-ize-the-CJK-codec-test.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0010-3.6-bpo-43285-Make-ftplib-not-trust-the-PASV-respons.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0011-bpo-43075-Fix-ReDoS-in-urllib-AbstractBasicAuthHandl.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0012-3.9-bpo-43882-urllib.parse-should-sanitize-urls-cont.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0013-Backport-bpo-44022-Fix-http-client-infinite-line-rea.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0014-bpo-43124-Fix-smtplib-multiple-CRLF-injection-GH-259.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0015-bpo-42278-Use-tempfile.TemporaryDirectory-rather-tha.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0016-Fix-accidentally-leaving-one-sub-test-commented-out.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0017-bpo-46811-Make-test-suite-support-Expat-2.4.5-GH-314.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0018-bpo-46756-Fix-authorization-check-in-urllib.request-.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0019-Install-libpythonX.Y.a-in-usr-lib-instead-of-usr-lib.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0020-Disable-modules-and-SSL.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0021-Gentoo-libdir.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0022-Non-zero-exit-status-on-failure.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0023-sqlite-loadable-extensions.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0024-Regenerate-platform-specific-modules.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0025-distutils-C.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0026-Turkish-locale.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0027-ARM-OABI.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0028-use_pyxml.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0029-Disable-nis.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0030-Make-module-byte-compilation-non-fatal.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0031-Use-ncurses-to-find-pkg-config.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0032-Use-specific-Werror-for-cross-compile-tests.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0033-Force-using-system-libffi.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0034-test.support.unlink-ignore-EACCES.patch
  python-kit/curated/dev-lang/python/files/gentoo-patches/2.7/0035-ssl-Hard-disable-SSLv3-to-avoid-automagic-deps.patch
  python-kit/curated/dev-lang/python/templates/python2_7.tmpl
Labels: python-kit

#242 [dev-kit] dev-cpp/tbb autogen review
  dev-kit/curated/dev-cpp/tbb/autogen.py
  dev-kit/curated/dev-cpp/tbb/autogen.yaml
  dev-kit/curated/dev-cpp/tbb/files/tbb-2021.3.0-fix-getSmallObjectIndex-macros.patch
  dev-kit/curated/dev-cpp/tbb/files/tbb-2021.3.0-riscv.patch
  dev-kit/curated/dev-cpp/tbb/templates/tbb.tmpl
Labels: dev-kit

#244 www-client/vivaldi Refactor version parsing in Vivaldi autogen script
  browser-kit/curated/www-client/vivaldi/autogen.py
Labels: browser-kit

#245 [python-modules-kit] dev-python/urllib3 pinned v1.26.20
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit, security
