Repository macaroni-os/kit-fixups, pull requests merged in 2025-06, with the labels that each got.

#370 [core-server-kit] sys-libs/liburing Remove unused io_uring_cqe_iter_c…
  core-server-kit/curated/sys-libs/liburing/files/liburing-2.10-io_uring_cqe_iter_cqhead.patch
  core-server-kit/curated/sys-libs/liburing/templates/liburing.tmpl
Labels: core-server-kit

#372 [net-kit] Add mail-client/alpine-2.26 autogen
  net-kit/autogen.kit.d/base.yml
  net-kit/merge.kit.d/base_autogen.yml
Labels: net-kit, new_package, mark-unstable

#371 [mark-xl] Rebase from `mark-testing` -> `mark-unstable`
  core-hw-kit/merge.kit.d/base.yml
  core-kit/merge.kit.d/core.yml
  core-server-kit/merge.kit.d/db.yml
  core-server-kit/merge.kit.d/fs.yml
  core-server-kit/merge.kit.d/libs.yml
  core-server-kit/merge.kit.d/net-base.yml
  core-server-kit/merge.kit.d/telemetry.yml
  core-server-kit/merge.kit.d/tools.yml
  dev-kit/merge.kit.d/base.yml
  editors-kit/merge.kit.d/editors.yml
  java-kit/merge.kit.d/base.yml
  kernel-kit/merge.kit.d/base.yml
  kernel-kit/merge.kit.d/debian.yml
  kernel-kit/merge.kit.d/modules.yml
  lang-kit/merge.kit.d/base.yml
  lisp-scheme-kit/merge.kit.d/base.yml
  llvm-kit/merge.kit.d/base.yml
  net-kit/merge.kit.d/base.yml
  net-kit/merge.kit.d/www-client.yml
  perl-kit/merge.kit.d/perl.yml
  php-kit/merge.kit.d/base.yml
  portage-kit/merge.kit.d/funtoo.yml
  portage-kit/merge.kit.d/portage.yml
  python-kit/merge.kit.d/python.yml
  python-modules-kit/merge.kit.d/base.yml
  python-modules-kit/merge.kit.d/python.yml
  python-modules-kit/merge.kit.d/python_autogen.yml
  ruby-kit/merge.kit.d/base.yml
  science-kit/merge.kit.d/base.yml
  text-kit/merge.kit.d/common.yml
  text-kit/merge.kit.d/docbook.yml
  text-kit/merge.kit.d/latex.yml
  xorg-kit/merge.kit.d/base.yml
  xorg-kit/merge.kit.d/gnome.yml
Labels: mark-xl
