Repository macaroni-os/kit-fixups, pull requests merged in 2025-07, with the labels that each got.

#374 [net-kit] Fix redundant `autofs` definitions
  core-server-kit/merge.kit.d/fs.yml
  core-server-kit/merge.kit.d/tools.yml
Labels: bug, net-kit, mark-xl

#376 [mark-unstable] Autogen `app-admin/sudo`
  core-server-kit/autogen.kit.d/templates/sudo.tmpl
  core-server-kit/autogen.kit.d/tools.yml
  core-server-kit/merge.kit.d/tools.yml
  core-server-kit/merge.kit.d/tools_autogen.yml
Labels: security, mark-unstable, mark-xl, mark-iii

#377 [mark-xl] Add intel64-{alder,rocket}lake subarches
  core-kit/profiles/funtoo/1.0/linux-gnu/arch/x86-64bit/subarch/intel64-alderlake/make.defaults
  core-kit/profiles/funtoo/1.0/linux-gnu/arch/x86-64bit/subarch/intel64-rocketlake/make.defaults
Labels: enhancement, mark-xl

#378 [core-kit] sys-libs/readline Remove unused rlfe-tgoto patch and updat…
  core-kit/mark/sys-libs/readline/autogen.py
  core-kit/mark/sys-libs/readline/files/readline-6.2-rlfe-tgoto.patch
  core-kit/mark/sys-libs/readline/templates/readline.tmpl
Labels: core-kit

#379 [core-kit] sys-apps/debianutils - Fix S for v5.23.1
  core-kit/autogen.kit.d/core.yml
Labels: core-kit

#380 [net-kit] net-vpn/wireguard-tools autogen
  net-kit/autogen.kit.d/base.yml
  net-kit/autogen.kit.d/wireguard-tools/wg-quick.initd
  net-kit/merge.kit.d/base.yml
  net-kit/merge.kit.d/base_autogen.yml
Labels: net-kit, mark-unstable, mark-xl, mark-iii

#382 [python-modules-kit] dev-python/packaging autogen
  python-modules-kit/autogen.kit.d/python.yml
  python-modules-kit/merge.kit.d/base.yml
  python-modules-kit/merge.kit.d/python_autogen.yml
Labels: python-modules-kit, mark-unstable

#383 [python-modules-kit] dev-python/setuptools_scm autogen
  python-modules-kit/autogen.kit.d/python.yml
  python-modules-kit/merge.kit.d/base.yml
  python-modules-kit/merge.kit.d/python_autogen.yml
Labels: python-modules-kit, mark-unstable
