Repository macaroni-os/kit-fixups, pull requests merged in 2025-02, with the labels that each got.

#278 [net-kit] hexchat autogen: remove extraneous '/' upon which webserver chokes
  net-kit/curated/net-irc/hexchat/autogen.py
Labels: mark-testing

#277 [core-kit] genkernel autogen.yaml: update source for boost tarball
  core-kit/curated/sys-kernel/genkernel/autogen.yaml
Labels: bug, regen bug, mark-testing, core-kit

#279 [core-kit] Add intel64 subarches alderlake and rocketlake
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/arch/x86-64bit/subarch/intel64-alderlake/make.defaults
  core-kit/curated/profiles/funtoo/1.0/linux-gnu/arch/x86-64bit/subarch/intel64-rocketlake/make.defaults
Labels: enhancement, mark-testing, core-kit

#284 [core-kit] app-misc/mime-types Autogen app-misc/mime-types package and remove it from gentoo-staging package lists
  core-kit/mark/packages.yaml
  core-kit/next/app-misc/mime-types/autogen.yaml
  core-kit/next/app-misc/mime-types/templates/mime-types.tmpl
  core-kit/packages.yaml
Labels: core-kit

#287 [core-kit] packages to autogen imported by old gentoo snapshot and/or with old keywords and used in mark xl
  core-kit/autogen.kit.d/attr/xattr-shim.h
  core-kit/autogen.kit.d/core.yml
  core-kit/autogen.kit.d/shadow/default/useradd
  core-kit/autogen.kit.d/shadow/pam.d-include/passwd
  core-kit/autogen.kit.d/shadow/pam.d-include/shadow
  core-kit/autogen.kit.d/templates/shadow.tmpl
  core-kit/autogen.kit.d/virtual.yml
  core-kit/merge.kit.d/core.yml
  core-kit/merge.kit.d/core_autogen.yml
  templates/simple.tmpl
Labels: core-kit, mark-unstable

#290 [core-kit] Update `net-misc/openssh` version pin to `9.9_p2`
  core-kit/curated/net-misc/openssh/autogen.yaml
Labels: core-kit, version bump
