Repository macaroni-os/kit-fixups, pull requests merged in 2025-03, with the labels that each got.

#293 Autogen LLVM/CLANG stuff for release 16
  llvm-kit/autogen.kit.d/base.yml
  llvm-kit/autogen.kit.d/templates/clang.tmpl
  llvm-kit/autogen.kit.d/templates/llvm.tmpl
  llvm-kit/merge.kit.d/base_autogen.yml
Labels: llvm-kit

#296 [games-kit] Remove failing patch from Odamex autogen.yaml block
  games-kit/curated/autogen.yaml
Labels: bug, mark-testing, games-kit

#298 [core-kit] autogen app-arch/sharutils
  core-kit/autogen.kit.d/core.yml
  core-kit/autogen.kit.d/sharutils/sharutils-4.15.2-CVE-2018-1000097.patch
  core-kit/autogen.kit.d/sharutils/sharutils-4.15.2-gcc-10.patch
  core-kit/autogen.kit.d/sharutils/sharutils-4.15.2-glibc228.patch
  core-kit/merge.kit.d/core_autogen.yml
Labels: core-kit, mark-unstable

#300 [python-modules-kit] Autogen jinja2
  python-modules-kit/autogen.kit.d/python.yml
  python-modules-kit/autogen.kit.d/templates/pypi-generic.tmpl
  python-modules-kit/merge.kit.d/base.yml
  python-modules-kit/merge.kit.d/python_autogen.yml
Labels: python-modules-kit, security, mark-unstable

#303 [python-modules-kit] Add dev-python/falcon package
  python-modules-kit/autogen.kit.d/python.yml
  python-modules-kit/merge.kit.d/python_autogen.yml
Labels: python-modules-kit, new_package, mark-unstable

#301 [ruby-kit] dev-lang/ruby - review template for ruby3
  ruby-kit/mark/dev-lang/autogen.yaml
  ruby-kit/mark/dev-lang/templates/ruby3.tmpl
Labels: mark-testing, ruby-kit

#305 [python-modules-kit] Add `du_pep517: generator` to `yq` YAML block
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit, mark-testing

#304 [core-kit] Update `sys-apps/sandbox` Manifest
  core-kit/curated/sys-apps/sandbox/Manifest
Labels: mark-testing, core-kit

#332 [core-server-kit] app-metrics/blackbox-exporter-bin autogen
  core-server-kit/autogen.kit.d/blackbox_exporter/blackbox_exporter.confd
  core-server-kit/autogen.kit.d/blackbox_exporter/exporter.initd
  core-server-kit/autogen.kit.d/consul_exporter/consul_exporter.confd
  core-server-kit/autogen.kit.d/consul_exporter/exporter.initd
  core-server-kit/autogen.kit.d/memcached_exporter/exporter.initd
  core-server-kit/autogen.kit.d/memcached_exporter/memcached_exporter.confd
  core-server-kit/autogen.kit.d/mysqld_exporter/exporter.initd
  core-server-kit/autogen.kit.d/mysqld_exporter/mysqld_exporter.confd
  core-server-kit/autogen.kit.d/node_exporter/exporter.initd
  core-server-kit/autogen.kit.d/node_exporter/node_exporter.confd
  core-server-kit/autogen.kit.d/redis_exporter/exporter.initd
  core-server-kit/autogen.kit.d/redis_exporter/redis_exporter.confd
  core-server-kit/autogen.kit.d/telemetry.yml
  core-server-kit/merge.kit.d/telemetry.yml
  core-server-kit/merge.kit.d/telemetry_autogen.yml
  templates/simple-github.tmpl
  templates/simple.tmpl
Labels: core-server-kit, mark-unstable

#333 [core-kit] sys-devel/patch Remove outdated patch files from sys-devel/patch directory
  core-kit/curated/sys-apps/autogen.yaml
  core-kit/curated/sys-apps/templates/patch.tmpl
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-Avoid-invalid-memory-access-in-context-format-diffs.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-CVE-2018-1000156-fix1.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-CVE-2018-1000156-fix2.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-CVE-2018-1000156.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-CVE-2018-6951.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-CVE-2018-6952.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-CVE-2019-13636.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-CVE-2019-13638.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-Do-not-crash-when-RLIMIT_NOFILE-is-set-to-RLIM_INFINITY.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-allow-input-files-to-be-missing-for-ed-style-patches.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-fix-error-handling-with-git-style-patches.patch
  core-kit/curated/sys-devel/patch/files/patch-2.7.6-fix-test-suite.patch
  core-kit/mark/sys-apps/autogen.yaml
  core-kit/mark/sys-apps/templates/patch.tmpl
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-Avoid-invalid-memory-access-in-context-format-diffs.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-CVE-2018-1000156-fix1.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-CVE-2018-1000156-fix2.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-CVE-2018-1000156.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-CVE-2018-6951.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-CVE-2018-6952.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-CVE-2019-13636.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-CVE-2019-13638.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-Do-not-crash-when-RLIMIT_NOFILE-is-set-to-RLIM_INFINITY.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-allow-input-files-to-be-missing-for-ed-style-patches.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-fix-error-handling-with-git-style-patches.patch
  core-kit/mark/sys-devel/patch/files/patch-2.7.6-fix-test-suite.patch
Labels: mark-testing, core-kit
