Repository macaroni-os/kit-fixups, pull requests merged in 2025-01, with the labels that each got.

#246 [lang-kit] dev-lang/go-bootstrap - Fix Manifest
  lang-kit/curated/dev-lang/go-bootstrap/Manifest
Labels: lang-kit

#247 [python-modules-kit] dev-python/cerberus - Fix pypi name
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit

#248 sys-apps/whip-catalog: Fix src_install
  core-kit/mark/sys-apps/whip-catalog/whip-catalog-0.20240323.ebuild
Labels: core-kit

#249 [net-kit] net-dns/bind: Update dodoc
  net-kit/curated/net-dns/bind/templates/bind.tmpl
Labels: net-kit

#257 [python-modules-kit] missing rdepend on dev-python/yarl
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit

#258 [core-kit] sys-fs/zfs Update ZFS templates for MacaroniOS compatibility
  core-kit/curated/sys-fs/zfs/autogen.yaml
  core-kit/curated/sys-fs/zfs/templates/zfs-kmod.tmpl
  core-kit/curated/sys-fs/zfs/templates/zfs.tmpl
Labels: core-kit

#261 Add libsdl3 autogen
  media-kit/mark/media-libs/autogen.yaml
  media-kit/mark/media-libs/templates/libsdl3.tmpl
Labels: media-kit, new_package

#262 [python-modules-kit] Autogen propcache, expandvars
  python-modules-kit/autogen.kit.d/python.yml
  python-modules-kit/autogen.kit.d/templates/pypi-generic.tmpl
  python-modules-kit/autogen.kit.d/templates/simple.tmpl
Labels: python-modules-kit, marl-unstable

#263 [python-modules-kit] Review propcache autogen
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit, mark-testing

#264 [python-modules-kit] dev-python/yarl autogen
  python-modules-kit/autogen.kit.d/python.yml
Labels: python-modules-kit, mark-unstable

#265 [python-modules-kit] dev-python/yarl change du_pep517
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit, mark-testing

#266 [core-server-kit] net-libs/nghttp2 autogen for mark-devkit
  core-server-kit/autogen.kit.d/net-base.yml
  core-server-kit/merge.kit.d/net-base.yml
  core-server-kit/merge.kit.d/net-base_autogen.yml
  templates/simple-github.tmpl
  templates/simple.tmpl
Labels: core-server-kit, mark-unstable

#267 [net-kit] net-vpn/strongswan - Remove /etc/ipsec.conf
  net-kit/curated/net-vpn/strongswan/templates/strongswan.tmpl
Labels: net-kit, mark-testing

#268 [net-kit] net-vpn/strongswan - Autogen and fix openssl
  net-kit/autogen.kit.d/base.yml
  net-kit/autogen.kit.d/templates/strongswan.tmpl
  net-kit/merge.kit.d/base_autogen.yml
Labels: net-kit, mark-unstable

#269 [net-kit] net-wireless/wpa_supplicant: Autogen
  net-kit/autogen.kit.d/base.yml
  net-kit/autogen.kit.d/templates/wpa_supplicant.tmpl
  net-kit/autogen.kit.d/wpa_supplicant/wpa_cli.sh
  net-kit/autogen.kit.d/wpa_supplicant/wpa_supplicant-2.6-do-not-call-dbus-functions-with-NULL-path.patch
  net-kit/autogen.kit.d/wpa_supplicant/wpa_supplicant-2.6-libressl-compatibility.patch
  net-kit/autogen.kit.d/wpa_supplicant/wpa_supplicant-2.6-libressl.patch
  net-kit/autogen.kit.d/wpa_supplicant/wpa_supplicant-conf.d
  net-kit/autogen.kit.d/wpa_supplicant/wpa_supplicant-init.d
  net-kit/autogen.kit.d/wpa_supplicant/wpa_supplicant.conf
  net-kit/merge.kit.d/base.yml
  net-kit/merge.kit.d/base_autogen.yml
Labels: net-kit, mark-unstable

#270 [net-kit] net-dns/unbound autogen
  net-kit/autogen.kit.d/base.yml
  net-kit/autogen.kit.d/templates/unbound.tmpl
  net-kit/autogen.kit.d/unbound/unbound-1.10.1-find-ar.patch
  net-kit/autogen.kit.d/unbound/unbound-1.5.7-trust-anchor-file.patch
  net-kit/autogen.kit.d/unbound/unbound-1.6.3-pkg-config.patch
  net-kit/autogen.kit.d/unbound/unbound-anchor.service
  net-kit/autogen.kit.d/unbound/unbound-r1.confd
  net-kit/autogen.kit.d/unbound/unbound-r1.initd
  net-kit/autogen.kit.d/unbound/unbound.service
  net-kit/autogen.kit.d/unbound/unbound.socket
  net-kit/autogen.kit.d/unbound/unbound_at.service
  net-kit/merge.kit.d/base_autogen.yml
Labels: net-kit, mark-unstable

#271 [core-server-kit] sys-cluster/glusterfs - mark autogen + opensslv3 fix
  core-server-kit/autogen.kit.d/glusterfs/50glusterfs-mode-gentoo.el
  core-server-kit/autogen.kit.d/glusterfs/glusterd-10.2-r2.initd
  core-server-kit/autogen.kit.d/glusterfs/glusterfs-11.0-extras-defer-invoking-of-gluster-volume-set-help.patch
  core-server-kit/autogen.kit.d/glusterfs/glusterfs-11.0-fix-crash.patch
  core-server-kit/autogen.kit.d/glusterfs/glusterfs.confd
  core-server-kit/autogen.kit.d/glusterfs/glusterfs.logrotate
  core-server-kit/autogen.kit.d/glusterfs/glusterfs.vim
  core-server-kit/autogen.kit.d/glusterfs/glusterfsd-10.2.initd
  core-server-kit/autogen.kit.d/net-base.yml
  core-server-kit/autogen.kit.d/templates/glusterfs.tmpl
  core-server-kit/merge.kit.d/net-base.yml
  core-server-kit/merge.kit.d/net-base_autogen.yml
Labels: core-server-kit, mark-unstable

#272 [net-kit] net-dns/bind, net-dns/bind-tools - autogen + opensslv3 fix
  net-kit/autogen.kit.d/base.yml
  net-kit/autogen.kit.d/bind/10bind.env
  net-kit/autogen.kit.d/bind/generate-rndc-key.sh
  net-kit/autogen.kit.d/bind/localhost.zone-r3
  net-kit/autogen.kit.d/bind/named.cache-r3
  net-kit/autogen.kit.d/bind/named.conf
  net-kit/autogen.kit.d/bind/named.conf-r8
  net-kit/autogen.kit.d/bind/named.confd-r7
  net-kit/autogen.kit.d/bind/named.init-r14
  net-kit/autogen.kit.d/templates/bind-tools.tmpl
  net-kit/autogen.kit.d/templates/bind.tmpl
  net-kit/merge.kit.d/base.yml
  net-kit/merge.kit.d/base_autogen.yml
Labels: net-kit, mark-unstable

#273 [security-kit] Autogen net-misc/openssh
  security-kit/autogen.kit.d/openssh/sshd-r1.confd
  security-kit/autogen.kit.d/openssh/sshd-r1.initd
  security-kit/autogen.kit.d/openssh/sshd.pam_include.2
  security-kit/autogen.kit.d/openssh/sshd.service
  security-kit/autogen.kit.d/openssh/sshd.socket
  security-kit/autogen.kit.d/openssh/sshd_at.service
  security-kit/autogen.kit.d/security.yml
  security-kit/autogen.kit.d/templates/openssh.tmpl
  security-kit/merge.kit.d/security.yml
  security-kit/merge.kit.d/security_autogen.yml
Labels: security-kit, mark-unstable

#274 [python-modules-kit] dev-python/pymongo - Add select
  python-modules-kit/curated/dev-python/autogen.yaml
Labels: python-modules-kit, mark-testing
